<template>
	<div class="ui modal" id="cart">
		<div class="header">Shopping Cart</div>
		<div class="content">
			<div v-if="cart.length > 0">
				<table class="ui unstackable celled definition table" v-if="cart.length > 0">
					<thead>
						<tr>
							<th></th>
							<th>Quantity</th>
							<th>Item</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in cart">
							<td class="collapsing center aligned">
								<div class="circular ui icon button" v-on:click="remove(item)">
									<i class="remove icon"></i>
								</div>
							</td>
							<td>2</td>
							<td>{{item.name}}</td>
							<td>{{item.price | currency}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h1 v-else class="ui block header">
				Nothing here!
			</h1>
		</div>
	</div>
</template>

<script>
import { Util, Bus, Filters } from "./Util";

export default {
	name: "cart",
	data () {
		return {
			cart: [
//				{
//					name: "Graham Barber",
//					price: "955"
//				}
			],
			update () {
				let cart = [];
				let tempCart = Lockr.get("cart");
				if (tempCart.length > 0) {
					for (let item of tempCart) {
						cart.push(JSON.parse(item));
						console.log(JSON.parse(item));
					}
					this.cart = cart;
				} else {
					this.cart = [];
				}
			},
			remove (item) {
				Bus.$emit("item-removed", item);
			}
		}
	},
	filters: Filters,
	created () {
		Bus.$on("refresh", (id) => {
			this.update();
		});
	}
};
</script>
