<template>
	<div class="ui container">
		<div class="ui link cards">
			<div class="ui centered card" v-for="(item, key) in inventory">
				<div class="image">
					<img v-bind:src="item.image">
				</div>
				<div class="content">
					<div class="header">{{item.name}}</div>
						<div class="meta" v-for="tag in item.tags">
							<a>{{tag}}</a>
						</div>
					<div class="description">
						{{item.description}}
					</div>
				</div>
				<div class="extra content">
					<span class="right floated">
						<a class="ui large orange right ribbon label">
							{{item.price | currency}}
						</a>
					</span>
				</div>
				<div v-if="!item.inCart" class="ui bottom attached toggle button active" v-on:click="addToCart(key)">
					<i class="add to cart icon"></i>
					Add to Cart
				</div>
				<div v-else class="ui bottom attached button" v-on:click="removeFromCart(key)">
					<i class="remove icon"></i>
					Remove from Cart
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import shortid from "shortid";

import { Util, Bus, Filters} from "./Util";

export default {
	name: "inventory",
	data () {
		return {
			getData: new Promise((resolve, reject) => {
				let data = {
					[shortid.generate()]: {
						image: "http://placehold.it/200x200",
						name: "Matt Giampietro",
						tags: ["Friends"],
						description: "Matthew is an interior designer living in New York.",
						price: 2013,
						button: {
							icon: "add to cart icon",
							classes: "ui bottom attached toggle button active",
							text: "Add to Cart"
						},
						inCart: true
					},
					[shortid.generate()]: {
						image: "http://placehold.it/200x200",
						name: "Noah Cooke",
						tags: ["Friends"],
						description: "Noah is professional CS player in Corvallis.",
						price: 1337,
						button: {
							icon: "add to cart icon",
							classes: "ui bottom attached toggle button active",
							text: "Add to Cart"
						},
						inCart: null
					}
				};
				resolve(data);
			}),
			inventory: {},
			addToCart (key) {
				this.inventory[key].inCart = true;
				Lockr.sadd("cart", JSON.stringify(this.inventory[key]));
			},
			removeFromCart (key) {
				this.inventory[key].inCart = false;
				Lockr.srem("cart", JSON.stringify(this.inventory[key]));
			},
			reset (item) {
				let tempItem = Util.raw(item);
				for (let key in this.inventory) {
					if (this.inventory[key] === tempItem) {
						console.log("Match!");
						this.inventory[key].inCart = false;
						Lockr.srem("cart", JSON.stringify(tempItem));
						Bus.$emit("refresh");
					}
				}
			}
		}
	},
	filters: Filters,
	created () {
		Bus.$on("item-removed", item => {
			this.reset(item);
		});
		let prep = this.getData;
		prep.then(data => {
			for (let key in data) {
				Lockr.sismember("cart", JSON.stringify(data[key])) ? data[key].inCart = true : data[key].inCart = false;
			}
			this.inventory = data
		})
	}
};
</script>
