<template>
	<div class="ui inverted main menu">
		<div class="ui header container">
			<div class="item">{{title}}</div>
		</div>
		<div class="item">
			<div class="compact ui orange button" id="cart-button" v-on:click="openCart()">Cart</div>
		</div>
	</div>
</template>

<script>
import { Bus } from "./Util";

export default {
	name: "title-bar",
	data () {
		return {
			title: "DAMlab Store",
			openCart() {
				$("#cart").modal({blurring: true, inverted: true}).modal("show");
				Bus.$emit("refresh");
			}
		}
	}
};
</script>