<template>
	<div>
		<TitleBar/>
		<Cart/>
		<Inventory/>
	</div>
</template>

<script>
import Cart from "./components/Cart";
import TitleBar from "./components/TitleBar";
import Inventory from "./components/Inventory";

export default {
	name: "app",
	components: {
		TitleBar,
		Inventory,
		Cart
	}
};
</script>

<style>
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
</style>
